:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #ffffff;
  --accent-text-color: #434455;
  --secondary-link-color: #404bbf;
  --primary-span-color: #4d5ae5;
  --accent-footer-color: #f4f4fd;
  --primary-batton-color: #4d5ae5;
  --secondary-batton-color: #ffffff;
}

/* body */
body {
  color: var(--accent-text-color);
  font-family: "Roboto", sans-serif;
  background: #ffffff;
}
ul {
  list-style: none;
}

/* header */

/* logo */
.header-logo-link {
  text-decoration: none;
}
.header-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  color: var(--primary-batton-color);
}
.header-span {
  color: var(--primary-text-color);
}
/* navi */
.header-nav-list {
  list-style: none;
}
.header-nav-item {
  text-decoration: none;
}
.header-nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-nav-link:hover,
:focus {
  color: var(--secondary-link-color);
}
/* address */
.header-address {
  font-style: normal;
}
.header-address-list {
  list-style: none;
}
.header-list-item {
  list-style: none;
}
.header-address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}
.header-address-link:hover,
:focus {
  color: var(--secondary-link-color);
}

/* hero */
.hero {
  background: #2e2f42;
}
.hero > .hero-title {
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--secondary-text-color);
}
/* adventage */
.adventage.list {
  list-style: none;
}
.subject {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.adventage.prg {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--accent-text-color);
}
/* example */
.example > .title {
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.11;
  color: var(--primary-text-color);
}
.example.list {
  list-style: none;
}
/* team */
.team {
  background: #f4f4fd;
}
.team > .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}
.team.list {
  list-style: none;
}
.team.list.item {
  background-color: #ffffff;
}
.team > .section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.team > .prg {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}
/* button */
.hero > .button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-style: inherit;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--primary-span-color);
  color: var(--secondary-text-color);
}
.hero > .button:hover:focus {
  background: #404bbf;
}

/* footer */
.footer {
  background: #2e2f42;
}
.footer > .prg {
  font-size: 16px;
  line-height: 2.4;
  color: var(--accent-footer-color);
}
.footer-logo-link {
  text-decoration: none;
}
.footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-batton-color);
}

.footer-span {
  color: var(--accent-footer-color);
}
/* -------------------- */
/*  --------------------*/
/* portfolio */
.nav-portfolio > .list {
  list-style: none;
}
.nav-portfolio > .list > .btn {
  color: var(--primary-batton-color);
  font-style: inherit;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.5;
  background-color: #f4f4fd;
}
.nav-portfolio > .list > .btn:hover:focus {
  color: var(--secondary-text-color);
  background-color: #404bbf;
}

/* article */
.article-button-list {
  list-style: none;
}
.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-batton-color);
  background-color: var(--accent-footer-color);
  cursor: pointer;
}
.btn:hover,
:focus {
  color: var(--secondary-text-color);
  background-color: #404bbf;
}
.article-list {
  list-style: none;
}
.article-item-link {
  text-decoration: none;
}
.article-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.article-item-prg {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}
